.progress {
  stroke: #00f200;
  stroke-width: 30;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
  animation: progress 1s ease-out infinite backwards;
  position: relative;
  transform: rotateY(180deg);
}

.parent {
  position: absolute;
  top: 10;
  left: 0;
  stroke-width: 30;
  stroke: #00f200;
  stroke-dasharray: 10;
}

@keyframes progress {
  100% {
    stroke-dashoffset: 400;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
