@supports (-webkit-text-stroke: 1px var(--text-color)) {
  h1,
  h2 {
    text-align: center;
    color: var(--text-color);
  }
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.intro__name::first-letter {
  font-size: 2rem;
}

.intro p {
  max-width: 300px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
}

.btn {
  text-decoration: none !important;
  padding: 0.8rem;
  background: var(--text-color);
  color: var(--body-color);
  border-radius: 0.5rem;
}

.btn:hover {
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: 0.5rem;
}

.photo {
  border-radius: 0.5rem;
  background: var(--body-color);
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
}

button {
  padding: 0.5rem;
  border: none;
  text-align: center;
}

.photo img {
  opacity: 0.4;
  max-width: 15rem;
  max-height: 15rem;
  cursor: pointer;
  border-radius: 50%;
  object-fit: contain;
  transform: rotate(10deg);
  transition: 1s ease-in-out;
}

.photo img:hover {
  max-width: 16rem;
  border-radius: 2rem;
  transform: rotate(0deg);
}
