#root,
.project,
.about {
  min-width: 318px;
  background: rgb(42, 53, 54);
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 318px;
}

.nav {
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--bg-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--glass-color);
}

.nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgb(8, 52, 59);
}

.nav span {
  visibility: hidden;
}

.nav a:hover {
  color: rgb(30, 34, 34);
}

.nav a:hover > span {
  visibility: visible;
}
