#home {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  min-width: 318px;
  transition: height 2s ease-in-out;
}

#project,
#skill,
#about {
  outline: solid 1px red;
  min-width: 318px;
  height: 100vh;
  width: 90vw;
  padding-top: 2rem;
  transition: height 2s ease-in-out;
}
