#root,
.project,
.about {
  min-width: 318px;
  /*  background: #12353a;*/
  height: 100vh;
  padding-top: 2rem;
}

.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 318px;
}
