.container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10rem;
}

.scene {
  width: 210px;
  height: 240px;

  perspective: 1000px;
  transform-origin: center center;
  border-radius: 1rem;
  transform: rotateZ(90deg);
  transition: transform 1s;
}

.carousel {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__card {
  position: absolute;
  color: black;
  background: var(--glass-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  width: 100%;
  height: 87%;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--bg-color);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.carousel__card:nth-child(1) {
  transform: rotateY(0deg) rotateZ(-90deg) translateZ(288px);
}
.carousel__card:nth-child(2) {
  transform: rotateY(40deg) rotateZ(-90deg) translateZ(288px);
}
.carousel__card:nth-child(3) {
  transform: rotateY(80deg) rotateZ(-90deg) translateZ(288px);
}
.carousel__card:nth-child(4) {
  transform: rotateY(120deg) rotateZ(-90deg) translateZ(288px);
}
.carousel__card:nth-child(5) {
  transform: rotateY(160deg) rotateZ(-90deg) translateZ(288px);
}
.carousel__card:nth-child(6) {
  transform: rotateY(200deg) rotateZ(-90deg) translateZ(288px);
}
.carousel__card:nth-child(7) {
  transform: rotateY(240deg) rotateZ(-90deg) translateZ(288px);
}
.carousel__card:nth-child(8) {
  transform: rotateY(280deg) rotateZ(-90deg) translateZ(288px);
}
.carousel__card:nth-child(9) {
  transform: rotateY(320deg) rotateZ(-90deg) translateZ(288px);
}

@media only screen and (min-width: 600px) {
  .scene {
    transform: rotateZ(0deg);
    transition: transform 1s;
  }

  .carousel__card:nth-child(1) {
    transform: rotateY(0deg) rotateZ(0deg) translateZ(288px);
  }
  .carousel__card:nth-child(2) {
    transform: rotateY(40deg) rotateZ(0deg) translateZ(288px);
  }
  .carousel__card:nth-child(3) {
    transform: rotateY(80deg) rotateZ(0deg) translateZ(288px);
  }
  .carousel__card:nth-child(4) {
    transform: rotateY(120deg) rotateZ(0deg) translateZ(288px);
  }
  .carousel__card:nth-child(5) {
    transform: rotateY(160deg) rotateZ(0deg) translateZ(288px);
  }
  .carousel__card:nth-child(6) {
    transform: rotateY(200deg) rotateZ(0deg) translateZ(288px);
  }
  .carousel__card:nth-child(7) {
    transform: rotateY(240deg) rotateZ(0deg) translateZ(288px);
  }
  .carousel__card:nth-child(8) {
    transform: rotateY(280deg) rotateZ(0deg) translateZ(288px);
  }
  .carousel__card:nth-child(9) {
    transform: rotateY(320deg) rotateZ(0deg) translateZ(288px);
  }
}
