.scene {
  width: 300px;
  height: 400px;
  background: green;
  position: relative;
  transform-style: preserve-3d;
  perspective-origin: top right;
  perspective: 1000px;
}
.cards {
  position: absolute;
  width: 300px;
  height: 400px;
  background: rgb(41, 66, 41);
  transform-origin: right;
  transform: rotateY(0deg);
  transition: all 10s ease-in;
}

.cards:hover {
  transform: rotateY(180deg);
}
