* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.scene {
  width: 200px;
  height: 200px;

  margin: 80px;
  perspective: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px) rotateY(35deg);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.roof {
  width: 200px;
  height: 100px;
  position: absolute;
}

.head {
  background-color: rgb(121, 119, 117);
  transform: translateZ(100px) translateY(-100px) rotateX(50deg);
}

.tail {
  background-color: rgb(121, 119, 117);
  transform: translateZ(-100px) translateY(-100px) rotateX(-50deg);
}

.sides {
  width: 200px;
  height: 200px;
  position: absolute;
}
.front {
  background-color: rgba(96, 230, 84, 0.7);
  transform: translateZ(100px);
}
.back {
  background-color: rgba(147, 84, 230, 0.7);
  transform: translateZ(-100px);
}
.left {
  background-color: rgba(243, 76, 215, 0.7);
  transform: rotateY(90deg) translateZ(-100px);
}

.right {
  background-color: rgba(189, 47, 3, 0.7);
  transform: rotateY(-90deg) translateZ(-100px);
}

.top {
  background-color: rgba(73, 75, 238, 0.7);
  transform: rotateX(-90deg) translateZ(-100px);
}

.bottom {
  background-color: rgba(61, 7, 87, 0.7);
  transform: rotateX(90deg) translateZ(-100px);
}
