@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}

:root {
  --body-color: #121212;
  --text-color: #4ed1d1;
  --bg-color: #000000;
}

body {
  position: relative;
  background: linear-gradient(50deg, var(--bg-color), var(--body-color));
  color: var(--text-color);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo {
  cursor: pointer;
  display: inline-block;
  stroke: var(--text-color);
  stroke-width: 5;
  fill: transparent;
  stroke-linecap: round;
}

.hamburger {
  cursor: pointer;
  display: inline-block;
  stroke: var(--text-color);
  stroke-width: 5;
  stroke-linecap: round;
}

nav {
  background: var(--body-color);
  display: flex;
  flex-wrap: wrap;
  min-width: 10rem;
  flex-direction: row;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  width: 100%;
  background-color: var(--body-color);
  display: none;
}

.navItem {
  text-decoration: none !important;
  padding: 0.5rem 0.5rem;
  color: var(--text-color);
}

.navItem:hover {
  outline: solid 0.1rem var(--text-color);
  border-radius: 0.5rem;
}

.btn {
  background: var(--text-color);
  color: var(--body-color);
  border-radius: 0.5rem;
}

.btn:hover {
  background: var(--body-color);
  color: var(--text-color);
  border-radius: 0.5rem;
}

.hide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 500px) {
  nav {
    flex-wrap: nowrap;
  }
  .navMenu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    background-color: var(--body-color);
    justify-content: flex-end;
  }

  .hamburger {
    display: none;
  }
}

.logocircle {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: logoAnim 2s linear forwards;
}

.logoline1 {
  stroke-dasharray: 78 80;
  stroke-dashoffset: 79;
  animation: logoAnim 2s linear forwards;
}
.logoline2 {
  stroke-dasharray: 61 63;
  stroke-dashoffset: 62;
  animation: logoAnim 2s linear forwards;
}
.logoline3 {
  stroke-dasharray: 80 82;
  stroke-dashoffset: 81;
  animation: logoAnim 2s linear forwards;
}
@keyframes logoAnim {
  100% {
    stroke-dashoffset: 0;
  }
}
