body {
  padding: 0;
  background-color: black;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.hamburger {
  cursor: pointer;
  align-self: flex-end;
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
  stroke: #00f200;
  stroke-width: 1;
  stroke-linecap: round;
}

.navbar {
  background-color: rgba(255, 255, 197, 0.15) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.navbarMenu {
  cursor: pointer;
  text-decoration: none;
  color: #00f200;
  padding: 1rem;
  font-size: 1rem;
  padding: 1rem;
}

.show {
  display: inline-block;
  animation: growDown 300ms ease-in-out forwards;
}
.hide {
  display: none;
  animation: growDown 300ms ease-in-out forwards;
}

.navbarMenu:hover {
  border: 0.1rem solid;
  transform: scale(1.1);
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

@media only screen and (min-width: 500px) {
  .navbar {
    background-color: rgba(255, 255, 197, 0.15) !important;
    color: #00f200;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .hamburger {
    display: none;
  }
  .navbarMenu {
    display: block;
    padding: 1rem;
  }
}

@keyframes humburger {
  from {
    transform-origin: center;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
