@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Serif", serif;
}

:root {
  --bg-color: #121212;
  --text-color: #4ed1d1;
}

.logo {
  cursor: pointer;
  display: inline-block;
  stroke: var(--text-color);
  stroke-width: 5;
  stroke-linecap: round;
}

.hamburger {
  cursor: pointer;
  display: inline-block;
  stroke: var(--text-color);
  stroke-width: 5;
  stroke-linecap: round;
}

nav {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  min-width: 10rem;
  flex-direction: row;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  width: 100%;
  background-color: var(--bg-color);
  display: none;
}

.navItem {
  text-decoration: none !important;
  padding: 0.5rem 0.5rem;
  color: var(--text-color);
}

.hide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 500px) {
  nav {
    flex-wrap: nowrap;
  }
  .navMenu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    background-color: var(--bg-color);
    justify-content: flex-end;
  }

  .hamburger {
    display: none;
  }
}
